 .right-portion{
    padding: 10px ;
    background-color: rgb(248, 243, 243);

    color: black;
      border-radius: 20px;
      margin: 10px 5px 10px 10px;
       border: 1px  solid rgb(197, 194, 194);
   
    
  }

     
  @media only screen and (max-width: 767px) {
    .right-portion {
      margin: 10px !important;
    }

  }

.top-div{
    background-color: white;
    padding: 0px 10px;
    border-radius: 10px;
    border: 2px solid rgb(248, 243, 243);
}

.top-div h5{
    margin: 0px;
}


.search-input {
  padding: 5px ; 
  border: 1px solid #ccc;
  border-radius: 10px !important;
  width: 100%;
  margin-top: 10px;
  
}

  .input-group.two{
  display: none;
}

@media only screen and (max-width: 500px) {
  .input-group.one {
    display: none;
  }

  .top-div{
    padding: 10px 10px !important;
  }

  .input-group.two{
    padding: 10px ;
    border-radius: 10px;
    border: 2px solid rgb(248, 243, 243);
    width: 100%;
    display: block;
  
  }

.two .fa-solid{
  padding:10px;
  margin-bottom: 15px !important;
}

  .search-input{
    margin-top: 0px;
  }
}


.search-icon {
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
}

.nav-container{
    background-color: white;
    margin: 0px 0px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(248, 243, 243);
   
}

ul{
     list-style-type: none;
   padding: 0px;
   margin: 0px;
}

.nav-item{
         margin-right: 20px;
        
}

.nav-link{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(248, 243, 243);
}

.nav-item:hover{
    text-decoration: underline;
   
}

 table {
            width: 100%; /* Set table width to 100% of the container */
            border-collapse: collapse; /* Collapse borders */
          border-radius: 10px !important;
        }

th, td{
   
    padding: 10px 10px;
    background-color: white;
    border: 3px solid rgb(248, 243, 243) !important;
    border-radius: 10px;
    color: rgb(190, 182, 182);
    font-size: 14px;
    font-weight: 50px !important;
  
}

th:hover{
  color: grey;
}

tbody td{
    font-size: 13px;

    color: black;
}


.profil-img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    margin-left: -5px;
}



.brand-td img{
    height: 25px;
    width: 25px;
    border-radius: 10px;
    background-color: red;
    margin-right: 5px;
}

.icon-p{
    margin-left: 20px;
}

.tick{
     height: 20px !important;
    width: 20px !important;
    border-radius: 10px;
    margin-top: 3px;
  
}

.first{
    margin-left: 0px;
}

.category-td a{
    background-color: pink;
    text-decoration: none;
    padding: 5px; 
    border-radius: 5px;
    margin-right: 5px;
}

.tag-td a{
    background-color: rgb(240, 231, 231);
    text-decoration: none;
   padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
      font-size: 12px;
}

.nextmeeting-td a{
      background-color: rgb(207, 207, 130);
    text-decoration: none;
   padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
}


.end-tr a{
     background-color: rgb(240, 231, 231);
    text-decoration: none;
   padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.end-tr-div{
    display: flex;
    justify-content: right;
}

.bottom-right{
    padding: 425px 0px 6px 0px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    
}

 @media only screen and (max-width: 768px) { 
     .bottom-right{
      padding-top:100px ;
     }
     
    }

.bottom-right button{
  margin:5px;
  padding: 0px;
  font-size: 15px;
}

.bottom-text{
  border: 2px solid rgb(223, 222, 222);
  border-radius: 10px;
}

.categories{
    width: 100% !important;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(248, 243, 243);
}

.top-div a{
  padding:10px;
  background-color:rgb(248, 243, 243) ;
  margin:0px 5px;
  border-radius: 10px;
}

.checkbox{
  margin-bottom: 15px;
  margin-right: 15px !important;
}

    .table-container {
      overflow-x: auto; /* Enable horizontal scrolling on small screens */
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    /* Responsive styles */
    @media only screen and (max-width: 768px) { 
      th, td {
        padding: 6px;
      }
    }
  

