
  @media only screen and (max-width: 767px) {
    .conditional {
      display: none;
    }
  }

  .navbar-toggler{
    display: none;
  }

  @media only screen and (max-width: 767px) {
    .navbar-toggler {
      display: block;
    }
  }




  .profileimg{
    display: inline-block !important;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: bisque;
  
  }

 

  

  /* CSS for Right Column */

 

 

  .top-div .input-group {
    width: 30%; 
  }

  /* .row{
    background-color: rgb(221, 208, 208);
  } */



  @media only screen and (min-width: 768px) {
    .collapse.navbar-collapse.show {
      display: none;

    }
  }


      .nav-container {
      overflow-x: auto; /* Enable horizontal scrolling on small screens */
    }
    .nav-item {
      margin-right: 10px;
    }
    .nav-item:last-child {
      margin-right: 0;
    }
    .nav-link {
      text-decoration: none;
      color: #333;
    }
    /* Responsive styles */
    @media only screen and (max-width: 768px) { /* Adjust as needed */
      .nav-item {
        margin-bottom: 10px;
      }
    }
    @media only screen and (max-width: 480px) { /* Adjust as needed */
      .nav-container {
        display: block;
        white-space: nowrap;
      }
      .nav-item {
        display: inline-block;
      }
      .nav-item:last-child {
        margin-right: 10px;
      }
    }

  